.notification {
  &__container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem;
    background: $smokeGray;
    font-size: 0.75rem;
    transition: all 1600ms linear;
    overflow-y: hidden;
    border-bottom: solid $smokeGray 0.1px;
    box-shadow: 0 0px 3px 1px $cardIcon;
    // transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    z-index: 999;
    
    @include breakpoint-down(medium) {
      height: 6.5rem;
      transition: all 980ms linear;
    }
    
    @include breakpoint-down(small) {
      height: 7rem;
      transition: all 900ms linear;
    }


    &__hidden {
      top:-12.5rem;
    }
  }

  &__panel {
    @include breakpoint-down(medium) {
      flex-direction: column;
    }

    max-width: 45rem;
    margin: auto;
    padding: 0.5rem;
    max-height: 4.375rem;

    p {
      margin-right: 1rem;
      a, a:visited {
        color: $darkBlue;
        text-decoration: none;
      }
      
    }

    .btn {
      @include breakpoint-down(medium) {
        align-self: flex-start;
      }
    }

    &__hidden {
      position: relative;
      top:-4.375rem;
      max-height: 0rem;
      padding: 0px;
      transition: all 2000ms ease-out;
    }
  }
}