$blue: #007bc1;
$darkBlue: #004a75;
$orange: #ff8000;
$darkOrange: #cc6600;
$smokeGray: #e5e5e5;
$grayText: #444444;
$cardBorder: #f5f5f5;
$cardIcon: #b6b6b6;
$footer: #0B0032;
$white: #E5E5E5;
$newsletterBlue: rgba(0, 123, 193, 0.9);